@import "tailwindcss";

:root {
  --background: #171717;
  --foreground:   #c1c1c1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-background-home: var(--background-home);
  --color-background-primary: var(--background-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:  #000000;
    --background-primary:  #0f0f0ff4;
    --foreground:   #c1c1c1;
    --secondary: rgb(182, 55, 55);
    --primary: #868688;
    --background-home:rgb(19, 19, 19);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
